<!-- OLD -->
<!-- <form action="/auth/login" method="POST">
  <label for="auth-email">Email</label>
  <input id="auth-email" type="email" name="email">

  <label for="auth-password">Password</label>
  <input id="auth-password" type="password" name="password">

  <input type="submit" value="Log In">
</form> -->

<div class="login">
  <form action="/auth/login" method="POST">
    <div class="form-group">
      <label for="auth-email">Email Address</label>
      <input type="email" class="form-control" id="auth-email" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="auth-password">Password</label>
      <input type="password" class="form-control" name="password" id="auth-password">
    </div>
    <button type="submit" class="btn btn-outline-success">Log In</button>
  </form>
</div>