<h1>MY CLOSET</h1>
<div class="my-closet">

    <% favorites.forEach(function(favorite) { %>
        <% if (favorite.sneaker) { %>
            <p><%= favorite.sneaker.brand %></p> 
        <% } %> 
    <% }) %>  

</div>

