<h1>MY CLOSET</h1>

<div class="container">
    <% sneakers.forEach(function(sneaker) { %>
        <div class="closet-card">
            <img src="<%= sneaker.thumbnail%>" class="card-img-top" alt="...">
            <div class="card-body">
            <h5><%= sneaker.shoeName.toUpperCase()%></h5>
            <hr>
            <h5 class="card-title"><%= sneaker.brand.toUpperCase()%></h5>
            <p class="card-title">Style ID:<%= sneaker.styleId%></p>
            <form method="GET" action="#">
            <button class="btn btn-outline-danger" type="submit">Remove from Closet</button>
              </form>
            </div>
          </div>
    <% }); %>
  </div>