@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1, h3 {
  padding: 50px 0px 50px 0px;
  color: black;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

body {
  /* opacity: .5; */
  padding-top: 75px;
  background-color: white;
}

.index-body {
  padding-top: 100px;
  text-align: center;
  margin: auto;
  width: 700px;
}

.login, .signup {
  padding-top: 100px;
  text-align: center;
  width: 300px;
  margin: auto;
}

.menu-img {
  width: 150px;
  height: 150px;
}

.menu-img:hover {
  opacity: .7;
}

.row {
  justify-content: space-evenly;
  flex: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.index-menu {
  display: flex;
}

.browse-index-menu {
  display: flex;
}

.card-img-top {
  width: 250px;
  align-self: center;
}

.card-img-top:hover {
  opacity: .75;
}

.card {
  width: 350px;
  height: 600px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: white 1px solid;
  border-radius: 25px;
  display:inline-block;
  text-align: center;
  font-size: 11px;
}

.mycloset-card {
  width: 350px;
  height: 400px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: lightgray 1px solid;
  border-radius: 25px;
  display:inline-block;
  text-align: center;
  font-size: 11px;
}

#logOutButton, #profileButton {
  margin-left: 2px;
  margin-bottom: 5px;
}

.input-group {
  margin-left: 100px;
  width: 300px;
}

h4 {
  padding-left: 50px;
}

.comment, .comments-h6 {
  padding-left: 50px;
  width: 600px;
}
.profile-div{
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.user-info {
  padding-left: 50px;
}

.my-closet {
  padding-left: 100px;
}
.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

.input-group, .mb-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 60px;
  margin: auto;
  padding: 10px;
  overflow: hidden;
  /* border: violet 1px solid; */
}

.profile-img {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.user-profile-form {
  padding-top: 20px;
}
.update-form-group {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
